pandas==1.5.2
prefect==2.11.3
prefect-sqlalchemy==0.2.2
prefect-gcp==0.4.5
protobuf==4.21.11
pyarrow==10.0.1
pandas-gbq==0.18.1
psycopg2-binary==2.9.5
sqlalchemy==1.4.46
dbt-bigquery==1.4.2
prefect-dbt[cli]==0.3.1
prefect-dbt[bigquery]==0.3.1
python-dotenv==1.0.0